ACTIVE_PROJECT=medrag
OPENAI_API_KEY=
LLAMA_CLOUD_API_KEY=
QDRANT_HOST=localhost
QDRANT_PORT=6333
OPENAI_MODEL=gpt-4o-mini
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
EMBEDDING_OUTPUT_DIMENSIONALITY=384
EMBEDDING_BATCH_SIZE=16
MAX_GUIDELINE_FILES=3
PUBMED_ENABLED=true
PUBMED_QUERY_LIMIT=1
PUBMED_MAX_RESULTS=5
CHUNK_SIZE=1024
CHUNK_OVERLAP=100
API_BASE_URL=http://localhost:8000
